
<ion-view title="Home" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <div class="content has-header">
        <div class="row">
            <div class="col center">
                <h1>Time Track </h1>
            </div>
        </div>

        <div class="row row-center">
            <div class="col center app-bg-image">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col center">
                <button class="button icon-left ion-arrow-right-b button-positive" ng-click="addTimeEntry()">
                    Time Entry
                </button>
            </div>
        </div>


    </div>
</ion-view>
